.section {
  padding-top: 80px ;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-sizing: border-box;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;
}

.container {
  max-width: 100%;
  padding: 0px 60px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.content {
  /* background: rgba(255, 255, 255, 0.98); */
  padding: 64px;
  border-radius: 20px;
  /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3); */
  animation: fadeInScale 0.8s ease-out;
}

.title {
  font-size: 42px;
  font-weight:600;
  /* color: #1e3a8a; */
  color: #383838;
  margin: 0 0 20px 0;
  text-align: center;
  font-family: var(--font-jakarta);
  letter-spacing: 1px;
  /* font-family: 'Montserrat', sans-serif; */
}

.subtitle {
    font-family: var(--font-jakarta);
  font-size: 36px;
  font-weight: 500;
  color: black;
  padding: 0px 40px;
  box-sizing: border-box;
  margin: 0 0 40px 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--font-inter);
  text-align: center;
}

.text p {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  margin: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .section {
    padding: 64px 0px;
  }
  
  .content {
    padding: 48px;
  }
  
  .title {
    font-size: 32px;
  }
  
  .subtitle {
    font-size: 19px;
    margin-bottom: 32px;
  }
  
  .text p {
    font-size: 15px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .section {
    padding: 48px 0px;
    width: 100%;
  }
  
  .content {
    padding: 32px 0px;
  }
  
  .title {
    font-size: 20px;
    margin-bottom: 16px;
    
  }
  
  .subtitle {
    font-size: 15px;
    margin-bottom: 28px;
    padding: 0px;
  }
  
  .text {
    gap: 20px;
    padding: 0;
    /* width: 350px; */
    margin: 0px auto;
  }
  
  .text p {
    width: 100%;
    margin: 0px auto;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .content {
    /* padding: 24px 16px; */
  }
  
  .title {
    font-size: 22px;
    letter-spacing: 0.5px;
  }
  
  .subtitle {
    font-size: 15px;
  }
  
  .text p {
    font-size: 13px;
  }
}